<span class="spinner-border spinner-border-sm @ColorVariant" role="status" aria-hidden="true"></span>
<span class="sr-only">@ActionName...</span>

@code {
    [Parameter]
    public string ActionName { get; set; }

    [Parameter]
    public string ColorVariant { get; set; }

}
