@page "/products/create"
@using RektaManager.Shared.ComponentModels.Products
@using RektaManager.Client.Utils
@using RektaManager.Shared.ComponentModels.Inventories
@inject IHttpService HttpService
<h3 class="d-flex justify-content-center align-items-center">Create Product</h3>


<ProductForm 
    Model="@_product" 
    HandleFormSubmit="@CreateProductAsync"
    SpinnerColor="text-success"
    SpinnerText="Creating Product..."
    Inventories="@_inventories"
    ButtonText="Add Product"
    ShowSpinnerStatus="@_showSpinnerStatus"
    />

@code {
    private ProductUpsertComponentModel _product = new ProductUpsertComponentModel();
    private List<InventorySelectModel> _inventories = new List<InventorySelectModel>();
    private string _showSpinnerStatus = "none";


    protected override async Task OnInitializedAsync()
    {
        var response = await HttpService
            .GetAsync<IEnumerable<InventorySelectModel>>("api/selectInventories");
        Console.WriteLine();
        
        _inventories.AddRange(response.Response);
    }


    async Task CreateProductAsync()
    {
        _showSpinnerStatus = "inline";
        await Task.Delay(5000);
        _showSpinnerStatus = "none";

    }
}
