@page "/"

<div class="d-flex flex-wrap justify-content-between">
    <div class="shadow-sm mb-3">
        <SummaryCard />
    </div>
    <div class="shadow-sm mb-3">
        <SummaryCard />
    </div>
    <div class="shadow-sm mb-3">
        <SummaryCard />
    </div>
    <div class="shadow-sm mb-3">
        <SummaryCard />
    </div>
    <div class="shadow-sm mb-3">
        <SummaryCard />
    </div>
    <div class="shadow-sm mb-3">
        <SummaryCard />
    </div>
    <div class="shadow-sm mb-3">
        <SummaryCard />
    </div>
    <div class="shadow-sm mb-3">
        <SummaryCard />
    </div>
    <div class="shadow-sm mb-3">
        <SummaryCard />
    </div>
    <div class="shadow-sm mb-3">
        <SummaryCard />
    </div>

</div>
