@using RektaManager.Shared.ComponentModels.Orders
@inject ISyncLocalStorageService LocalStorage
@inject IOrderService OrderService
@implements IDisposable

<button class="btn btn-info">
    Items in Order:
    <span class="badge badge-pill badge-light"><b>@GetCartCount()</b></span>
</button>


@code {

    protected override void OnInitialized()
    {
        OrderService.OnChange += StateHasChanged;
    }

    private int GetCartCount()
    {
        var cart = LocalStorage.GetItem<List<OrderedItemUpsertComponentModel>>("currentCart");
        return cart?.Count ?? 0;
    }

    public void Dispose()
    {
        OrderService.OnChange -= StateHasChanged;
    }

}
