@page "/orders"
@using RektaManager.Shared.ComponentModels.Orders

<h3>Orders</h3>

<div class="d-flex justify-content-between align-items-center mb-4">
    <button class="btn btn-outline-info">
        link
        <span class="bi bi-book-fill"></span>
    </button>
    <button class="btn btn-outline-info">
        link
        <span class="bi bi-book-fill"></span>
    </button>
    <button class="btn btn-outline-info">
        link
        <span class="bi bi-book-fill"></span>
    </button>
    <button class="btn btn-outline-info">
        link
        <span class="bi bi-book-fill"></span>
    </button>
</div>

<div class="row">
    <OrderItemList OrderItems="@OrderItems"></OrderItemList>
    <OrderSummary></OrderSummary>
</div>


@code {
    public List<OrderItemComponentModel> OrderItems { get; set; } = new List<OrderItemComponentModel>()
    {
        new OrderItemComponentModel()
        {
            ImageUrl = "https://www.preciouscore.com/wp-content/uploads/2018/08/Nigerian-Jollof-Rice.jpg",
            ItemName = "SomeItem",
            Price = 9000
        },
        new OrderItemComponentModel()
        {
            ImageUrl = "https://www.preciouscore.com/wp-content/uploads/2018/08/Nigerian-Jollof-Rice.jpg",
            ItemName = "SomeItem",
            Price = 9000
        },
        new OrderItemComponentModel()
        {
            ImageUrl = "https://www.royacshop.com/wp-content/uploads/2020/03/How-to-Prepare-Tuwo-Shinkafa-and-Miyan-Taushe.jpg",
            ItemName = "SomeItem",
            Price = 9000
        },
        new OrderItemComponentModel()
        {
            ImageUrl = "https://9jafoods.com/wp-content/uploads/2019/08/amala-and-ewedu-2.jpg",
            ItemName = "SomeItem",
            Price = 9000
        },
        new OrderItemComponentModel()
        {
            ImageUrl = "https://www.preciouscore.com/wp-content/uploads/2018/08/Nigerian-Jollof-Rice.jpg",
            ItemName = "SomeItem",
            Price = 9000
        },
        new OrderItemComponentModel()
        {
            ImageUrl = "https://www.preciouscore.com/wp-content/uploads/2018/08/Nigerian-Jollof-Rice.jpg",
            ItemName = "SomeItem",
            Price = 9000
        },
        new OrderItemComponentModel()
        {
            ImageUrl = "https://www.xycinews.com/wp-content/uploads/2019/03/water-leave-and-akpu-recipe-main-photo.jpg",
            ItemName = "SomeItem",
            Price = 9000
        },
        new OrderItemComponentModel()
        {
            ImageUrl = "https://img-global.cpcdn.com/recipes/dd2c903975f18360/751x532cq70/gwote-acha-recipe-recipe-main-photo.jpg",
            ItemName = "SomeItem",
            Price = 9000
        },
        new OrderItemComponentModel()
        {
            ImageUrl = "https://www.preciouscore.com/wp-content/uploads/2018/08/Nigerian-Jollof-Rice.jpg",
            ItemName = "SomeItem",
            Price = 9000
        },
        new OrderItemComponentModel()
        {
            ImageUrl = "https://www.preciouscore.com/wp-content/uploads/2018/08/Nigerian-Jollof-Rice.jpg",
            ItemName = "SomeItem",
            Price = 9000
        },
    };
}
