@using RektaManager.Shared.ComponentModels.Orders
@using System.Threading

<span>Number of Foods Ordered: <b>@OrderItems</b></span>


@code {

    [CascadingParameter]
    public OrderState State { get; set; }

    public int OrderItems { get; set; }

    protected override async Task OnInitializedAsync()
    {
        OrderItems = State.OrderedItems.Count;
        await Task.Delay(5000);
        await InvokeAsync(() => StateHasChanged());
    }

}
