<div class="col-3 d-flex">
    <div>
        <div>
            <b>Item Ordered :</b>
        </div>
        <div>
            <b>Quantity :</b>
        </div>
        <div>
            <b>Unit Price :</b>
        </div>
    </div>
</div>

@code {

}
