@page "/inventory/create"

@using RektaManager.Shared.ComponentModels.Inventories
@using RektaManager.Client.Utils
@inject NavigationManager NavigationManager
@inject IHttpService HttpService

<div class="col-12 d-flex justify-content-center">
    <h3>Create Inventory</h3>
</div>

<InventoryForm Disabled="@disabled" Model="@inventory" SubmitForm="@SubmitInventory"/>

@code {
    private InventoryUpsertComponentModel inventory = new InventoryUpsertComponentModel();
    private bool disabled;
    public async Task SubmitInventory()
    {
        disabled = true;
        try
        {
            var result = await HttpService.Post("api/inventories", inventory);

            if (result.Success)
            {
                disabled = false;
                NavigationManager.NavigateTo("inventory");
            }
            else
            {
                Console.WriteLine("something failed. Maybe in the controller!");
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }

}
