@page "/inventory/create"

@using RektaManager.Shared.ComponentModels.Inventories
@using RektaManager.Client.Utils
@inject NavigationManager NavigationManager
@inject IHttpService HttpService

<div class="col-12 d-flex justify-content-center">
    <h3>Create Inventory</h3>
</div>

<InventoryForm Disabled="@disabled" Model="@inventory" SubmitForm="@SubmitInventory" ButtonActionName="Create"
    SpinnerColor="text-warning" ShowSpinner="@_spinner" SpinnerActionName="Creating..." />

@code {
    private InventoryUpsertComponentModel inventory = new InventoryUpsertComponentModel();
    private bool disabled;
    private string _spinner = "none";
    public async Task SubmitInventory()
    {
        disabled = true;
        _spinner = "inline";
        try
        {
            var result = await HttpService.Post("api/inventories", inventory);

            if (result.Success)
            {
                disabled = false;
                _spinner = "none";
                NavigationManager.NavigateTo("inventory");
            }
            else
            {
                Console.WriteLine("something failed. Maybe in the controller!");
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }

}
