<span class="@SpinnerType @ColorVariant" style="@SpinnerSize" role="status" aria-hidden="true"></span>
<span class="sr-only">@ActionName...</span>

@code {
    [Parameter]
    public string ActionName { get; set; }

    [Parameter]
    public string ColorVariant { get; set; }

    [Parameter]
    public string SpinnerSize { get; set; } = "";

    [Parameter]
    public string SpinnerType { get; set; } = "spinner-border spinner-border-sm";

}
